In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:

file_path = "/content/drive/MyDrive/resturent practice/Copy of Indian-Resturants.csv"

In [ ]:
df = pd.read_csv(file_path, encoding='latin-1')

In [ ]:
df.shape

In [ ]:
pd.set_option = ('display.max.columns', None)

In [ ]:
df.head()

In [ ]:
df.drop('zipcode', axis=1, inplace=True)

In [ ]:
df.describe()

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull())
plt.show()

In [ ]:
df['address'] = df['address'].fillna('no address')

In [ ]:
df['cuisines'] = df['cuisines'].fillna('no cuisines')

In [ ]:
df['timings']= df['timings'].fillna('no timing')

In [ ]:
opentable_support_median = df['opentable_support'].median()
opentable_support_median

In [ ]:
df['opentable_support'] = df['opentable_support'].fillna(opentable_support_median)

In [ ]:
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull())
plt.show()

In [ ]:
fig, axes = plt.subplots(2, 2, figsize=(6, 6))

sns.boxplot(x=df['average_cost_for_two'], ax=axes[0, 0])
axes[0, 0].set_title('average_cost_for_two')

sns.boxplot(x=df['votes'], ax=axes[0, 1])
axes[0, 1].set_title('votes')

sns.boxplot(x=df['photo_count'], ax=axes[1, 0])
axes[1, 0].set_title('photo_count')

fig.delaxes(axes[1, 1])

plt.tight_layout()
plt.show()

In [ ]:
for column in ['average_cost_for_two' , 'votes', 'photo_count']:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df[column] = np.where(df[column] < lower_bound, lower_bound, df[column])
    df[column] = np.where(df[column] > upper_bound, upper_bound, df[column])

In [ ]:
fig, axes = plt.subplots(2, 2, figsize=(6, 6))

sns.boxplot(x=df['average_cost_for_two'], ax=axes[0, 0])
axes[0, 0].set_title('average_cost_for_two')

sns.boxplot(x=df['votes'], ax=axes[0, 1])
axes[0, 1].set_title('votes')

sns.boxplot(x=df['photo_count'], ax=axes[1, 0])
axes[1, 0].set_title('photo_count')

fig.delaxes(axes[1, 1])

plt.tight_layout()
plt.show()

In [ ]:
# Calculate and visualize the average rating of restaurants.

In [ ]:
average_rating = df['aggregate_rating'].mean()
print(f"The average rating of restaurants is: {average_rating}")

In [ ]:
plt.figure(figsize=(6, 4))
plt.bar(['Average Rating'], [average_rating], color='skyblue')
plt.title('Average Rating of Restaurants')
plt.ylabel('Rating')
plt.ylim(0, 5)
plt.show()

In [ ]:
# Analyze the distribution of restaurant ratings to understand the overall rating landscape.

In [ ]:
plt.figure(figsize=(8, 6))
sns.histplot(df['aggregate_rating'], bins=10, kde=True)
plt.title('Distribution of  overall Restaurant Ratings')
plt.xlabel('Aggregate Rating')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Identify the city with the highest concentration of restaurants

In [ ]:
city_restaurant_counts = df['city'].value_counts().reset_index()
city_restaurant_counts.columns = ['city', 'restaurant_count']
highest_concentration_city = city_restaurant_counts.loc[city_restaurant_counts['restaurant_count'].idxmax()]

In [ ]:
print(f"City with the highest concentration of restaurants: {highest_concentration_city['city']}")
print(f"Number of restaurants: {highest_concentration_city['restaurant_count']}")

In [ ]:

top_cities = city_restaurant_counts.head(10)

plt.figure(figsize=(7, 7))
sns.barplot(x='city', y='restaurant_count', data=top_cities, color = "violet")
plt.title('Top Cities with Highest Restaurant')
plt.xlabel('City')
plt.ylabel('Number of Restaurants')
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
# Visualize the distribution of restaurant ratings across different cities.

In [ ]:
city_ratings = df.groupby(['city', 'aggregate_rating'])['name'].count().reset_index()
city_ratings.rename(columns={'name': 'count'}, inplace=True)

In [ ]:
plt.figure(figsize=(8, 8))
sns.boxplot(x='city', y='aggregate_rating', data=city_ratings, palette="Set3")
plt.title('Distribution of Restaurant Ratings Across Cities')
plt.xlabel('City')
plt.ylabel('Aggregate Rating')
plt.xticks(rotation=90)
plt.tight_layout()
plt.show()

In [ ]:
# Determine the most popular cuisines among the listed restaurants. Investigate if there's a correlation between the variety of cuisines offered and restaurant ratings.

In [ ]:
most_popuular_cuisines = df['cuisines'].value_counts().head(10)
most_popuular_cuisines

In [ ]:
df['cuisine_variety'] = df['cuisines'].str.split(',').str.len()
df['cuisine_variety'] = df['cuisines'].str.split(',').str.len()

corelation = df['cuisine_variety'].corr(df['aggregate_rating'])
print(f' the corelations between cuisine_variety and aggregate_rating is {corelation}')

In [ ]:

plt.figure(figsize=(8, 6))
sns.scatterplot(x='cuisine_variety', y='aggregate_rating', data=df , color = 'orchid')
plt.title('Correlation between Cuisine Variety and Restaurant Ratings')
plt.xlabel('Number of Cuisines Offered')
plt.ylabel('Aggregate Rating')
plt.show()

In [ ]:
# Analyze the relationship between price range and restaurant ratings.

In [ ]:
plt.figure(figsize = (10 , 6))
sns.scatterplot(x = 'price_range' , y = 'aggregate_rating' , data = df, color = 'Cyan')
plt.xlabel('price_rating')
plt.ylabel('resturent_ratings')
plt.title('price_rating vs resturent_rating')
plt.show()

'price_rating vs resturent_rating'

In [ ]:
# Visualize the average cost for two people in different price categories.

In [ ]:
average_cost  = df['average_cost_for_two'].mean()
print(f'the average cost of resturent is {average_cost}')

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(x='price_range', y='average_cost_for_two', data=df , color = 'Magenta')
plt.title('Average Cost for Two People in Different Price Categories')
plt.xlabel('Price Range')
plt.ylabel('Average Cost for Two')
plt.show()

In [ ]:
# Investigate the impact of online order availability on restaurant ratings. Analyze the distribution of restaurants that offer table booking.

In [ ]:
df['table_booking_available'] = df['highlights'].str.contains('table booking', case=False, na=False).astype(int)

In [ ]:
plt.figure(figsize=(8, 6))
sns.countplot(x='table_booking_available', data=df)
plt.title('Distribution of Restaurants with Table Booking')
plt.xlabel('Table Booking Available (1=Yes, 0=No)')
plt.ylabel('Count')
plt.show()

Distribution of Restaurants with Table Booking

In [ ]:
# identify and visualize the top restaurant chains based on the number of outlets. Explore the ratings of these top chains.

In [ ]:
chain_counts = df.groupby('name')['name'].count().reset_index(name='outlet_count')
top_chains_df = chain_counts.sort_values('outlet_count', ascending=False).head(10)
print(top_chains_df)

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(x='name', y='outlet_count', data=top_chains_df , color = 'green')
plt.title('Top Restaurant Chains by Number of Outlets')
plt.xlabel('Chain Name')
plt.ylabel('Number of Outlets')
plt.xticks(rotation=90, ha='right')
plt.show()

In [ ]:
# Analyze the distribution of restaurants based on features like Wi-Fi, Alcohol availability, etc. Investigate if the presence of certain features correlates with higher ratings.

In [ ]:
df['has_wifi'] = df['highlights'].str.contains('Wi-Fi', case=False, na=False).astype(int)

In [ ]:
df['alcohol_availability'] = df['highlights'].str.contains('Alcohol', case=False, na=False).astype(int)

In [ ]:
wifi_counts = df['has_wifi'].value_counts()
print("Wi-Fi Availability:")
print(wifi_counts)


alcohol_counts = df['alcohol_availability'].value_counts()
print("\nAlcohol Availability:")
print(alcohol_counts)

In [ ]:
alcohol_correlation = df['alcohol_availability'].corr(df['aggregate_rating'])
print(f"Correlation between alcohol availability and aggregate rating: {alcohol_correlation}")

In [ ]:
plt.figure(figsize=(8, 6))
sns.countplot(x='has_wifi', data=df, color = 'teal')
plt.title('Distribution of Restaurants with Wi-Fi')
plt.xlabel('Wi-Fi Availability (1=Yes, 0=No)')
plt.ylabel('Number of Restaurants')
plt.show()

Distribution of Restaurants with Wi-Fi

In [ ]:
plt.figure(figsize=(8, 6))
sns.countplot(x='alcohol_availability', data=df, color = 'orange')
plt.title('Distribution of Restaurants with Alcohol')
plt.xlabel('Alcohol Availability (1=Yes, 0=No)')
plt.ylabel('Number of Restaurants')
plt.show()

Distribution of Restaurants with Alcohol

In [ ]:
top_7_Cuisines = df['cuisines'].value_counts().head(7)
top_7_Cuisines

In [ ]:
# top 7 Cuisines

In [ ]:
sns.barplot(x=top_7_Cuisines.index, y=top_7_Cuisines.values)
plt.title('Top 7 Cuisines')
plt.xlabel('Cuisine')
plt.ylabel('Count')
plt.xticks(rotation=90)
plt.show()

In [ ]:
# Distribution of Average Cost for Two

In [ ]:


plt.figure(figsize=(10, 5))
sns.histplot(df['average_cost_for_two'], bins=30, kde=True)
plt.title('Distribution of Average Cost for Two')
plt.xlabel('Average Cost for Two')
plt.ylabel('Frequency')
plt.show()

In [ ]:
# Relationship between Price Rating and Restaurant Rating

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(x='price_range', y='aggregate_rating', data=df)
plt.title('Relationship between Price Rating and Restaurant Rating')
plt.xlabel('Price Rating')
plt.ylabel('Restaurant Rating')
plt.show()

In [ ]:
# Top 10 Restaurants by Number of Votes

In [ ]:
highest_votes_restaurant = df.loc[df['votes'].idxmax()]
restaurant_name = highest_votes_restaurant['name']
vote_count = highest_votes_restaurant['votes']

print(f"Restaurant with the highest votes: {restaurant_name}")
print(f"Number of votes: {vote_count}")

In [ ]:
sns.barplot(x='name', y='votes', data=df.sort_values(by='votes', ascending=False).head(10))
plt.title('Top 10 Restaurants by Number of Votes')
plt.xlabel('Restaurant Name')
plt.ylabel('Number of Votes')
plt.xticks(rotation=90)
plt.show()

In [ ]:
# Average Rating of Top 7 Restaurant Chains (by Outlet Count)

In [ ]:
chain_ratings = df.groupby('name')['aggregate_rating'].mean().reset_index()
top_chains = df['name'].value_counts().head(7).index
avg_ratings = chain_ratings[chain_ratings['name'].isin(top_chains)]

In [ ]:
plt.figure(figsize=(10, 6))
sns.barplot(x='name', y='aggregate_rating', data=avg_ratings)
plt.title('Average Rating of Top 7 Restaurant Chains (by Outlet Count)')
plt.xlabel('Chain Name')
plt.ylabel('Average Rating')
plt.xticks(rotation=45, ha='right')
plt.show()